body {
    margin: 0;
    font-family: 'Segoe UI', Arial, sans-serif;
    background-color: #fef6f6;
}

.hero {
    background-image: url("../../img/fondo.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 20px;
    text-align: center;
    color: #000;
    position: relative;
    
}

.logo {
    width: 200px;
    position: absolute;
    top: 10px;
    left: 20px;
}

.hero-top-icons {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 15px;
    color:#111111;
    font-weight: bold;

}

.hero-top-icons img {
    width: 45px;
    cursor: pointer;
}

.titulo {
    margin-top: 100px;
    font-size: 2.2em;
    font-weight: bold;
}

.hero-buttons {
    margin: 30px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 35px;
}

.btn-item {
    text-align: center;
    cursor: pointer;
    color: #000;
    font-weight: bold;
    
}

.btn-item img {
    width: 60px;
}

.buscador {
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.buscador input {
    padding: 8px 14px;
    border-radius: 20px;
    border: 1.5px solid #333;
    width: 260px;
    font-size: 15px;
}

.buscador button {
    background: none;
    border: none;
    cursor: pointer;
}

.buscador button img {
    width: 25px;
}

/* ==== PRODUCTOS ==== */
.titulo-vendidos {
    text-align: center;
    margin: 25px 0;
    font-size: 1.8em;
}

.productos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1000px;
    margin: auto;
    gap: 20px;
    padding: 10px 20px;
}

.producto {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.producto img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 10px;
}

.info {
    text-align: left;
    margin-left: 15px;
}

.info h3 {
    margin: 0;
    color: #000;
    font-size: 18px;
}

.info p {
    margin: 5px 0 8px 0;
    font-size: 14px;
}

.precio {
    font-weight: bold;
    font-size: 20px;
    color: #000;
    display: flex;
    align-items: center;
    gap: 8px;
}

.precio img {
    width: 30px;
    height: 30px;
}

/* ==== FOOTER ==== */
footer {
    background-color: #fde8c9;
    text-align: center;
    padding: 15px 0;
    margin-top: 25px;
    
}

.footer-icons {
    display: flex;
    justify-content: left;
    gap: 40px;
    margin-bottom: 10px;
}

.footer-icons div {
    text-align: center;
}

.footer-icons img {
    width: 50px;
    height: 50px;
}

.footer-text {
    font-weight: bold;
    color: #000;
    font-size: 20px;
    text-align: right;

}
